{# This simple template derives from ``base.html``. See ``base.html`` for
more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
utils module here to automatically render Flask's flashed messages in a
bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{# Inside the ``content`` is where you should place most of your own stuff.
This will keep scripts at the page end and a navbar you add on later
intact. #}
{% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="row">
        <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
        </div>
    </div>
    {%- endif %}
    {%- endwith %}
</div>


<div class="container" style="margin-bottom: 10px;">
    <div class="col-md-12">
        {% for p in result %}
        <a href="{{url_for('display_persona', id=p.profile.ProfileID)}}">
            <div class="row">
                <img src="{{p.image.Image}}" height="100px" width="75px">
                <label>{{p.profile.Name}}</label>
                <label>{{p.profile.ProfileID}}</label>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<hr>

<footer>
    <p>&copy; 2017 Silverbaq</p>
</footer>
</div> <!-- /container -->


{%- endblock %}